[2016-07-15 01:54] samthor opened #1 "Automate release process"
As per e.g., [closure-compiler-npm](https://github.com/ChadKillingsworth/closure-compiler-npm) which uses Travis.

[2016-08-04 06:31] appsforartists opened #2 "Investigate Webpack integration"
It looks like there's a Webpack plugin that passes options to the CC jar:

https://www.npmjs.com/package/webpack-closure-compiler

We should try replacing it's lib/runner with this package and see if it works.  If so, maybe open a PR on that package.

[2016-08-21 14:35] samthor commented on #2
Instead of modifying an existing tool, I've [written a plugin in this repo](https://github.com/google/closure-compiler-js/blob/master/lib/webpack.js). It works mod a few pending tasks-

* it doesn't clone/flatten the options (aka '--foo_bar' => 'fooBar')
* we don't yet dive into the original files via source maps to show users where their errors really occured

[2016-08-21 23:11] concavelenz commented on #2
The compiler does support "input" source maps to show the original location
for error messages, it just needs to be wired up.

On Sun, Aug 21, 2016 at 7:35 AM, Sam Thorogood <notifications@github.com>
wrote:

[2016-08-24 10:17] samthor commented on #2
Webpack support is here. The input source map issue is different and is part of the real compiler.

[2016-08-24 10:17] samthor opened #4 "Flatten flags for all compile approaches"
There's a helper that flattens the options for Gulp, but nowhere else: aka '--foo_bar' => 'fooBar'.

[2016-08-24 10:26] #2 closed

[2016-08-24 17:04] tquetano-r7 opened #5 "Spread operator breaking Node LTS"
There is an instance of the spread operator (and perhaps more) that causes this to break instantly in Node LTS (4.5.0). I'm sure this works just fine in the current version, but the lack of support for certain ES2015 features in the LTS prevents any use of this package.

[2016-08-24 17:05] MatrixFrog commented on #5
The JS is created with GWT which I'm pretty sure only outputs ES5. Are you sure you're seeing a spread operator in the compiler?

[2016-08-24 17:56] azakus opened #6 "URI.resolve not implemented error"
Given a somewhat trivial ES6 module

bar.js:
[code]

foo.js:
[code]

I get this exception printed:
[code]

[2016-08-24 18:00] tquetano-r7 commented on #5
There error I'm seeing is a node failure:

[code]
And checking `compile.js` in the `node_modules` folder, it's definitely there.

[code]

[2016-08-24 18:01] tivac commented on #5
@MatrixFrog https://github.com/google/closure-compiler-js/blob/14052e4ad4c127ec531ec8fdabd420d8265d479f/compile.js#L34-L35

[2016-08-24 18:02] MatrixFrog commented on #5
Oh, gotcha. It's not in the gwt-compiled JS, but the small amount of hand-written JS. @samthor what do you think about taking out the `...` until the LTS version of node supports it?

[2016-08-24 22:27] samthor commented on #5
We can do that. I think there may be other reasons we don't support LTS though. I'm not really up to speed on what it does or doesn't support - I'm surprised it seems to support `const` and `let`?

@tquetano-r7 can you send a PR? Otw I'll get to it soon.

[2016-08-24 23:19] samthor commented on #6
We're looking at this now, although note that non-relative imports (i.e., `from 'foo'` work fine, and will load the current folder).

[2016-08-24 23:24] azakus commented on #6
Ah, that's good to know. However, I am trying to keep the imports compliant with what will ship in Chrome (v0 loader) which will only understand URLs.

[2016-08-25 06:38] samthor commented on #5
[Fixed here](https://github.com/google/closure-compiler-js/commit/bf97b9e5304985406276e3b6e476071bcd768943). We'll try to target the LTS release (currently 4.5) from now-on-in.

[2016-08-25 06:38] #5 closed

[2016-08-25 06:44] samthor commented on #6
Closure (even in Java) doesn't know anything about real URLs. It needs everything to be placed in its "filesystem" during compilation and it only supports imports based on paths like that for now.

[2016-08-25 14:17] blacksonic opened #7 "Semantic versioning"
Just installed the compiler, but the version is 20160822.
Is there any plan to use semantic versioning or just start from 1.0 when it becomes stable?

[2016-08-25 14:24] blacksonic opened #8 "Error with Webpack 2"
I'm using Webpack 2.1.0-beta.21 and with a fresh install i get this error from ClosureCompiler:

[code]

[2016-08-25 14:25] blacksonic commented on #8
Here is a similar issue with other library https://github.com/webpack/compression-webpack-plugin/issues/19

[2016-08-25 14:26] blacksonic commented on #8
i see it is a duplicate

[2016-08-25 14:26] blacksonic commented on #8
Here is a similar issue https://github.com/webpack/compression-webpack-plugin/issues/19

[2016-08-25 14:57] jameswyse commented on #8
I have a similar problem with react-formal not being able to resolve lodash moduless. Problem started when I moved to the new `es2015` preset with `{ modules: false }` setting..

I ended up setting aliases for the broken modules in my config 😢

[code]

[2016-08-25 15:11] Dominator008 commented on #7
Closure Compiler uses "timever", like 20160822 but I think you can treat this as the major version. The NPM package will have version numbers like 20160822.0.0.

[2016-08-25 16:23] planttheidea commented on #5
Sorry for the late response, appreciate you jumping on it so quickly!

[2016-08-25 16:49] #7 closed

[2016-08-26 04:04] appsforartists opened #9 "Different results than Java?"
I was just spying on a new minifier called babeli.  They have a chart where they compare the performance of the Java and JS versions of closure against themselves:

https://github.com/babel/babili#benchmarks

Closure is the most successful minifier and the JS build of Closure is the least.

Here's the code that generates the benchmarks: https://github.com/babel/babili/blob/e38a050ab396df8f7cbcdb6d

[2016-08-26 06:29] Dominator008 commented on #9
For Closure Compiler Java, looks like they are using an old version built at least 10 months ago. For Closure Compiler JS, I believe they are using 20160713.0.3, which was released last month.

It's not 100% fair, because Closure does some checking and runs on not just the source file but also a bunch of externs. I've created https://github.com/babel/babili/pull/101 to update both the Java and the

[2016-08-26 06:33] samthor commented on #9
(I presume you mean _shouldn't_.)

It's not really fair for this test but those numbers are only with simple optimizations (not fair because I don't think it'd compile at all with advanced).

[2016-08-26 15:25] tquetano-r7 commented on #5
Appreciate you guys fixing this, but is there any chance it can be released? Fresh install of the NPM package still points to 20160822.

[2016-08-26 16:03] JustinBeckwith opened #10 "Support semver style versioning"
Greetings!  Currently the version in package.json looks to be a date :)

`20160822.0.0`

It would be great to use [semantic versioning](https://docs.npmjs.com/getting-started/semantic-versioning) so we can predict breaking changes, minor patches, etc.    @jmdobry and I went through a similar exercise with the [Google API Client for Node.js](https://github.com/google/google-api-nodejs-client/), so

[2016-08-26 16:41] Dominator008 commented on #10
Thanks. As you can see we use what I call "timever" where the string `20160822` can roughly be treated as the major version in semver. It is likely that every monthly release might introduce a small amount of backwards-incompatible change. For a complex optimizing compiler it is kind of hard to rule out the possibility of breaking changes :(

So yeah it's kind of a maintenance pain if you use NPM,

[2016-08-26 18:22] appsforartists commented on #9
My assumption would be since this is the same algorithm being run on a different VM, the output should be identical across {java,javascript}, so long as the same configuration is used.  Glad you guys are looking into this.

[2016-08-26 21:57] samthor commented on #5
I've published 20160822.0.1 which has the fix.

[2016-08-29 05:53] samthor commented on #10
This matches the [main repo](https://github.com/google/closure-compiler), so we're unlikely to change it.

[2016-08-29 05:53] #10 closed

[2016-08-29 06:37] samthor commented on #8
We've updated the dependencies to require `webpack-core` now. However, I'd love suggestions that don't require that. We just use it for the `RawSource` etc output classes.

[2016-08-29 06:38] #8 closed

[2016-08-29 06:39] samthor commented on #6
We've published the `20160828.0.0` release which resolves this. (It's not tied to a regular Closure Compiler release).

[2016-08-29 07:57] blacksonic commented on #8
It might have smaller impact if extracted to a different package.

[2016-08-29 19:47] MatrixFrog commented on #9
This is probably better for the mailing list than as an "issue"

[2016-08-30 12:34] NekR commented on #9
@MatrixFrog, well, then post please a link to mailing list thread here, because some people may to track this issue. e.g. to start using this on production.

[2016-08-31 06:34] concavelenz commented on #9
Enabling TracerMode.TIMING_ONLY and comparing the two traces should tell
you which pass are run and whether we are unintentionally skipping one.

On Tue, Aug 30, 2016 at 5:34 AM, Arthur Stolyar <notifications@github.com>
wrote:

[2016-08-31 20:27] brianyang opened #11 "Error received when running gulp command"
when running `gulp` I see the following error:

[code]

[2016-08-31 20:44] clpacheco90 commented on #11
Hi brianyang,
 didi you try to install the gulp-sourcemaps
npm install -save gulp-sourcemaps

[2016-08-31 20:52] clpacheco90 opened #13 "Error when running gulp command"
Hi,
  When I try to run the gulp, I'm getting this error. I'm using the same code in [sample page](https://github.com/google/closure-compiler-js/tree/master/samples)

[code]

[2016-09-01 02:31] samthor commented on #13
I've updated the `lib/gulp.js` script for Node 4.5 LTS (which doesn't support default = params).

This will go out in the next release.

[2016-09-01 02:31] #13 closed

[2016-09-02 13:02] kruczy opened #15 "Webpack compilation error when code splitting"
When using webpack code splitting the compiler will flag an error for missing `webpackJsonp` function:

[code]

is there a way to tell the compiler that a global variable/function will be available on runtime?

Thanks

[2016-09-02 14:31] nazar-pc opened #17 "Gulp plugin should support multiple files to be compiled separately"
[code]

[2016-09-02 15:53] bighappyface commented on #11
I am having a similar issue but with different output:

[code]

This happens on node v4.5.0, v5.12.0, and v6.5.0.

It's probably me, but I figured this may be helpful for others if I/we can get it figured out.

[2016-09-02 15:54] bighappyface commented on #11
#16 perhaps?

[2016-09-02 17:05] clpacheco90 commented on #11
Hi I've got the same issue. You need to do a pull.
https://github.com/google/closure-compiler-js/issues/13

[2016-09-02 17:18] Dominator008 commented on #15
@kruczy What you need is an [externs file](https://developers.google.com/closure/compiler/docs/api-tutorial3) for Webpack. I don't remember seeing one off the top of my head though.

[2016-09-02 23:07] samthor commented on #15
What is `webpackJsonp`? You may be able to add an externs file that looks like this-

[code]

[2016-09-02 23:07] #15 closed

[2016-09-02 23:08] samthor commented on #17
This is tricky, but we match the existing Gulp plugins for Closure. If your two files are totally separate targets with no other relationships, I'd encourage you to write multiple tasks. Otherwise, Closure wants to merge them together to optimize your code.

Having said that, [Closure has an advanced syntax to generate different files for different modules](http://stackoverflow.com/questions/10395

[2016-09-02 23:21] samthor commented on #11
These should be fixed as of [20160828.0.1](https://github.com/google/closure-compiler-js/releases/tag/20160828.0.1), now available on NPM.

[2016-09-02 23:21] #11 closed

[2016-09-03 05:01] nazar-pc commented on #17
Looks like it might be what I need. Even though I do not quite understand how it might integrate with Gulp.

UglifyJS allows to minify files separately, why Closure compiler wouldn't'? I see it like following:
[code]
It doesn't have to do something with Closure compiler, it might be implemented purely as Gulp plugin functionality.

[2016-09-03 13:21] kruczy commented on #15
`webpackJsonp` is a callback that is called from dynamically loaded chunks to declare all the modules so they can be imported

externs seems like the correct way to do this
Thanks alot

[2016-09-06 02:52] appsforartists commented on #9
@MatrixFrog, I'm interested to hear the motivation for that decision.  An Issue seems like a way easier way to keep track of a potential issue than a mailing list thread.  It's discoverable (both by team members and external authors) and explicitly "open" or "closed."

I hate mailing list discussions.  Invariably, they either invite every even-mildly-opinionated person to chime in on a centithread

[2016-09-06 16:30] concavelenz commented on #9
I think it is fair that this stay open here.

[2016-09-06 20:25] viebel opened #18 "Instructions for running the closure-compiler in the browser"
Where are the instructions for running the closure-compiler in the browser?

[2016-09-06 23:29] samthor commented on #18
Good call. We've not documented it well. For now, download the NPM published code-

[code]

Then pull out the 'jscomp.js' file. If you load it inside a browser, it'll add the global method `window.compile`.

That method then accepts flags as per the instructions in the main README. Does that work for you?

[2016-09-07 14:36] viebel commented on #18
@samthor It works like a charm.
I've built a demo page of the closure compiler running in the browser using a tool of mine, named [KLIPSE](https://github.com/viebel/klipse).

Here is the demo page: http://viebel.github.io/klipse/examples/google_closure_compiler_advanced.html

I feel that this kind of demo pages will really help you guys to educate the community about the power of the closure compi

[2016-09-07 14:36] #18 closed

[2016-09-07 14:38] samthor commented on #18
Thanks a lot! If you wanted to make that page faster or more responsive, I'd suggest offloading the compiler to a Web Worker so the page doesn't lock up during the compile.

[2016-09-07 14:39] viebel commented on #18
Good idea!

Would you like to build demo pages or blog posts of your own (maybe using KLIPSE?)?

[2016-09-08 15:31] polkovnikov-ph opened #19 "Dependency resolution"
Is a translation of [this folder](https://github.com/google/closure-library/tree/master/closure/bin/build) going to make its way into the project? I've [made a translation](https://github.com/polkovnikov-ph/closure-test/blob/master/build/closure.js#L242-L396) back in 2014, but it was one of the first projects in JS, and it's horrible.

[2016-09-08 16:43] viebel opened #21 "Details for `externs` option flag"
What is the format of the `externs` option flag?

I've tried a couple but nothing worked:

[code]

[code]

In any case, the `compiledCode` is:

[code]

[2016-09-10 04:33] concavelenz commented on #19
Personally, I would love to ditch the Python for node tools.

On Sep 8, 2016 8:31 AM, "Philip Polkovnikov" <notifications@github.com>
wrote:

[2016-09-13 12:52] viebel commented on #21
Anyone could help here?

[2016-09-13 12:52] viebel commented on #21
maybe @samthor ?

[2016-09-13 13:29] samthor commented on #19
I'm not 100% sure, nor have I seen that Python code before. I wonder if this is to do with the Closure [dependency/module stuff](http://stackoverflow.com/questions/10395810/how-do-i-split-my-javascript-into-modules-using-googles-closure-compiler/10401030#10401030).

@joeltine, looks like you were the last one to touch it?

[2016-09-13 13:33] samthor commented on #21
Please set `warningLevel: 'VERBOSE'` and you'll get more output to see what might be going wrong.

The latter is correct re: `src`, as per the README. The issue is that Closure doesn't know what `cljs.user` is. So you can try-

[code]

[2016-09-13 13:34] samthor commented on #21
I'll also add that this is not a Closure Compiler in JS specific issue, so I'm going to close this. Externs are a complex part of Closure. For more information check out [the official tutorial](https://developers.google.com/closure/compiler/docs/api-tutorial3#externs) or the [wiki](https://github.com/google/closure-compiler/wiki/Externs-For-Common-Libraries).

[2016-09-13 13:34] #21 closed

[2016-09-13 14:52] polkovnikov-ph commented on #19
@samthor That code is used to solve `goog.require`s and pass files into compiler in correct order (i.e. as a toposort of a DAG). I've tried compiling with `closure-compiler-js` two files A and B with A depending on B, and it didn't work for this reason.

[2016-09-13 15:23] joeltine commented on #19
Echoing what @concavelenz said, I'd love to see those tools written in NodeJS. To be perfectly honest, it's probably low priority for the Closure Library team. I'd look at a PR if someone wanted to attempt adding them though.

[2016-09-13 23:24] jeffpar opened #22 "Flags should have a "defines" property"
The Java command-line interface supports any number of **--define** arguments that are useful for overriding [@define](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler#define-type-description) variable definitions.  I haven't seen any way to do the same thing in the JavaScript version of the compiler, so I've had to resort to [modifying my source code]

[2016-09-14 00:32] samthor commented on #22
We've not implemented all the flags, as it's a manual process to bring them across to this entry point, and not all of them line up. This sounds like a great candidate, I'll make sure this is in the next release.

[2016-09-14 00:40] samthor commented on #22
Also just to make two observations on that gulpfile-

* This compiler only accepts files that are in-memory (so you can't reference them on disk - we'd just load them fully anyway), re: `externs.js`
* `outputWrapper` wasn't implemented (we thought it was, and documented it as such). It's also coming next release.

[2016-09-14 00:54] jeffpar commented on #22
Sounds good--thanks for the feedback.

[2016-09-15 18:42] thelgevold opened #23 "Node process runs out of memory"
I have been trying to integrate the JavaScript version of the Closure compiler with my application as a Rollup plugin.
The process works for simple projects, but I have observed that the process runs out of memory in bigger projects:

The process runs for a while, but crashes eventually with the error message:

[code]

Here is my rollup code that integrates the `"google-closure-compiler-js": "^201

[2016-09-15 18:51] thelgevold commented on #23
The project I am targeting is an Ahead of Time (AoT) compiled Angular 2.0 application

[2016-09-15 19:33] #22 closed

[2016-09-16 01:30] samthor commented on #23
Thanks for the bug report. We've tested the project on medium-sized builds but obviously did not go far enough.

Can you post repro instructions? Do you have a branch I can check out and run build?

[2016-09-16 04:03] thelgevold commented on #23
@samthor Thanks for the quick response.
I have my `closure-compiler` branch here https://github.com/thelgevold/angular-2-samples/tree/closure-compiler

Here are the repro steps

1) `npm install`
2) `npm run install-application`

The second step will first run the Angular 2 Ahead-of-time compiler on the Angular source. Next the result of that is fed into rollup where the closure compiler will be tr

[2016-09-16 22:55] samthor commented on #22
This is released in [20160916](https://github.com/google/closure-compiler-js/releases/tag/20160916.0.0), here and on NPM.

[2016-09-18 04:55] steveblue commented on #23
I can confirm this issue happens in even a modest hello world example of Angular 2 compiled AOT. `process out of memory` happens every time I try to implement JS version with multiple versions of node. I attempted node `4.5.0`,`5.5.0`, and `6.5.0` with `OS X El Capitan 10.11.6`. I could get the .jar to compile every time, but when trying to implement with Rollup like in the example above `process

[2016-09-18 06:41] concavelenz commented on #23
Are you giving more than the default heap?

[2016-09-18 17:51] thelgevold commented on #23
@concavelenz I am not 100% sure what you mean. I have tried setting `max_old_space_size`. Is that what you're referring to?

[2016-09-19 14:53] concavelenz commented on #23
yes, what values did you try?

On Sun, Sep 18, 2016 at 10:51 AM, Torgeir Helgevold <
notifications@github.com> wrote:

[2016-09-19 16:18] jeffpar commented on #22
Quick question: now that outputWrapper is implemented, does that obviate the need for assumeFunctionWrapper?  If not, does outputWrapper at least automatically default assumeFunctionWrapper to true, or at least enable the same optimizations that assumeFunctionWrapper enables, or are both still required?

[2016-09-19 18:27] thelgevold commented on #23
I tried a few different values. I remember setting to 8000 and 14000 on a Mac with 16GB of Ram

[2016-09-21 17:11] qyoz opened #24 "Bad compile time performance"
I benchmarked this port against other transpilers using jQuery and found that it takes an extraordinary ~13 seconds to transpile using closure-compiler-js as opposed to a little over ~1 second with [uglifyjs](https://github.com/mishoo/UglifyJS2) or [esprima](https://github.com/jquery/esprima).

I understand that this port was generated using a Java to JS compiler and looking at jscomp.js it is rea

[2016-09-21 17:14] MatrixFrog commented on #24
What options are you using? Closure is a lot more than just a transpiler so if you only want to use it for transpilation then you can turn off lots of other things (like typechecking).

That said, we are looking at ways to improve performance, and we are aware that the JS version is likely to be slower right now for some use cases.

[2016-09-21 17:33] qyoz commented on #24
My main use case is minifying a 2.5 MB ES5 project, which with uglifyjs takes ~6 seconds to minify and ~150 seconds with CC.
For uglifyjs, I use the default options + mangle, and for CC I used the example given in the [README](https://github.com/google/closure-compiler-js#usage).
I was originally looking to benchmark compression rates, but either way a two and a half minute compile time is not som

[2016-09-21 17:39] MatrixFrog commented on #24
Try both simple mode and advanced mode, and measure the runtime, total code size, and total codesize after gzipping (assuming that you can serve your code gzipped). It may be that the gzipped results are almost the same for simple mode and advanced mode, in which case you probably want to stick to simple mode, which will hopefully be quite a bit faster. Another thing you can try is `--tracer_mode=

[2016-09-21 21:40] camelaissani opened #25 "Does closure-compiler-js source map compatible with Rollup?"
I try to write a Rollup plugin with closure-compiler-js: [rollup-plugin-closure-compiler-js](https://github.com/camelaissani/rollup-plugin-closure-compiler-js)

It seems that source map generated by closure-compiler is not compatible with Rollup.
I reproduce the issue in an [unit test](https://github.com/camelaissani/rollup-plugin-closure-compiler-js/blob/master/test/test.js#L42)
Here the link to

[2016-09-21 22:22] Dominator008 commented on #25
ccing @ChadKillingsWorth in case he knows off the top of his head :)

[2016-09-21 22:28] Dominator008 commented on #24
@qyoz Assuming you are using `SIMPLE_OPTIMIZATIONS`, ~150 seconds vs ~6 seconds definitely sounds bad. Is your project open source by any chance?

[2016-09-21 22:35] ChadKillingsworth commented on #25
I'm guessing this is due to the fact that prior to this last month, Closure-compiler did not compose source maps. Changes are now merged to allow that, but it requires passing input sourcemaps to the compiler.

For the Java version gulp plugin, I compose the sourcemap manually after compilation. See https://github.com/ChadKillingsworth/closure-compiler-npm/blob/c03707e59fb7da90ae910da7c02ea68b4030

[2016-09-22 16:44] qyoz commented on #24
@Dominator008 The project I'm working on is private, that's why I used [jQuery ](https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js)as a test case for this benchmark. The difference in compile-time ratio is easily reproduced.

I can tell you that using CC to compile jQuery with the default options (`compilationLeve: SIMPLE`) takes me ~12 seconds. Compiling with `compilationLeve: ADVANCE

[2016-09-22 17:21] camelaissani commented on #25
@ChadKillingsworth @Dominator008 thanks for your help. I'm gonna digging into your code to understand the source maps composition.

Once I've fixed the issue I would be happy to contribute to your project!

[2016-09-25 17:05] camelaissani commented on #25
I think closure-compiler works correctly. I would say that Rollup has a problem, but I am not 100% sure.
Here the issue open to the Rollup project: https://github.com/rollup/rollup/issues/961
there are all the details in my last comment.

[2016-09-26 12:11] ChadKillingsworth commented on #25
Looking at the stack trace, it seems to be caused due to the fact that the source map sources array has no valid source files rollup can locate. My guess is that `Input_0` should be the filename that rollup expects.

@samthor Thoughts on specifying the input filename for source maps? It could always be done post-processing too.

[2016-09-26 12:18] samthor commented on #25
I'm on my phone so I don't have the whole context. However, the generated
source map has no name: it has a blank filename, since the generated source
is also unnamed and (right now) always a single file. It should be
trivially renamable. We could do it inside the compiler at some point.

On Mon., 26 Sep. 2016, 14:11 Chad Killingsworth, <notifications@github.com>
wrote:

[2016-09-26 12:19] ChadKillingsworth commented on #25
@samthor The issue is the input filename for the sources array - that's a little bit harder (though still doable):

[code]

[2016-09-26 14:15] camelaissani commented on #25
@ChadKillingsworth @samthor So far, in my tests, only es6 getters have produced this error in Rollup.
I would say there is also another problem?

[2016-09-26 14:56] ChadKillingsworth commented on #25
I'm guessing it's caused due to the synthetic sources. You can try post processing the source map - specifically fill in the correct filename for the source `Input_0` and try setting the synthetic sources to `null`.

I believe the issue comes from https://github.com/rollup/rollup/blob/c5d9d347721ad3d168b2ca6df27894be69815d1c/src/utils/collapseSourcemaps.js#L90

[2016-09-29 15:25] tSte opened #29 "Unhandled flags"
I just tried to switch from Java-based and hit a brick wall... I assumed that every flag should be provided as camelcase. So I rewrote my closure compiler config object and compiler complains about these flags:

`entry_point`=> `entryPoint`(pretty important flag to have)
`jscomp_Off`=> `jscompOff`
`extra_annotation_name`=> `extraAnnotationName`(very useful)
`manage_closure_dependencies`=> `manageC

[2016-09-29 17:14] MatrixFrog commented on #29
Not all flags are available but @samthor is working on making more of them available.

[2016-10-03 07:13] samthor commented on #29
Yup, the README states "some features are not available". The supported flags [are listed here](https://github.com/google/closure-compiler-js#flags).

Having said that, your requirements are on the list and will hopefully come soon.

[2016-10-10 23:52] RoxKilly opened #30 "compiler.gulp() crashes: Cannot find module vinyl"
I've installed with:
[code]
Installation was successful:
[code]

To create a gulp task I try to follow the README:
[code]
But as soon as I add `.gulp()` to the end of that line, `Gulp` crashes (I can no longer list or execute tasks) with this error:

    throw err;
    ^

    at Function.Module._resolveFilename (module.js:325:15)
    at Function.Module._load (module.js:276:25)
    at Module.requir

[2016-10-11 05:38] RoxKilly commented on #30
I did `npm install --save-dev vinyl` to make that go away (it installed `vinyl 2.0`)

[2016-10-11 05:38] #30 closed

[2016-10-14 22:23] ntstv opened #31 "Does compiler supporst closure library?"
I'am trying use closure library with closure compiler js and webpack (for client side of course)

Are you planning something like this?

[2016-10-14 22:34] Dominator008 commented on #31
Yes. The README has an example webpack config. Closure Library has its own NPM package that you can use.

[2016-10-18 11:10] #31 closed

[2016-10-28 22:28] bogusred opened #32 "Can't get compiler to compile in dependencies."
I have source that is using google closure library. I'm using goog.provide and goog.require throughout my code.

I tried the gulp version of this compiler out today and was unsuccessful in getting this to work. It throws errors with the following compiler flags
continueWithWarnings
manageClosureDependencies
closureEntryPoint
onlyClosureDependencies

So I tried to comment them out. But the js it re

[2016-10-30 14:23] benjaminjt opened #33 "Externs for node.js core modules; documentation unclear?"
It isn't clear how to reference externs.

For example, having trouble with node core modules. Using the gulp plugin to attempt to compile a Node application which includes the following:

[code]

I get the following errors:

[code]

Despite including the following flags:

[code]

Where `./externs/http.js` is from https://github.com/dcodeIO/node.js-closure-compiler-externs

Surely compiling a node

[2016-11-01 16:21] brad4d commented on #33
I've been tinkering a bit with using closure-compiler to check for errors in code intended for Node.js. Here's an example command line. Note that I have to disable the errors related to module loading.

[code]

What works:
-   Any types you've defined correctly in your own code will be correctly checked by the compiler.
-   Other compiler checks will also run to warn you of possible errors in your

[2016-11-11 06:37] Reuvenc opened #34 "Support formatting flag"
Hi,

Is it possible to add support for formatting flag?

Currently it is supported in java version as follows:

[code]

Thanks in advance,
Reuven.

[2016-11-17 08:59] srod opened #35 "Error when using --use_strict"
When using `node --use_strict`, it throw an error :
[code]
`node -v v6.9.1`
`npm -v 4.0.2`

You can reproduce it with the example code sample and run it with `node --use_strict`
[code]
It seems to fail when require jscomp.js

Related to: https://github.com/srod/node-minify/issues/122

[2016-11-17 21:29] TheLarkInn opened #36 "webpack treeshaking/deadcode elimination additional features?"
So currently, webpack imperitively builds a dependency graph, and has library specific syntax for code splitting, lazy loading, and optimizing chunks (sub-tree of modules), based on order, occurence, size, etc.

However one feature that is limiting that we believe we would love to leverage (as a library) a better tree shaking story.

Currently webpack only "marks" unused modules and exports, depen

[2016-11-30 06:39] swernerx opened #37 "Webpack API / compatibility"
I was trying to integrate Closure Compiler to my [Advanced Boilerplate](https://github.com/sebastian-software/advanced-boilerplate).

My setup currently looks super simple:

[code]

I have some kind of factory producing the actual webpack config. That's the reason why there is the `ifProdClient()` call.

Effects I saw:

- A ton of outputs (=hundreds) regarding some 3rd party dependencies I include

[2016-11-30 06:41] swernerx commented on #37
BTW: This is the source code for the vendor chunk:

[code]

nothing special.

[2016-12-01 04:23] kennetpostigo opened #38 "Rollup Compatibility"
Would there be anyway you could add compatibility for `rollup` similarly to what you have for webpack? I use rollup currently to build my library and It would be awesome to use closure compiler to minimize the size of it libs.

[2016-12-01 06:14] thelgevold commented on #21
I think you have to declare the root variable in the extern as well.

Something like this, perhaps:

`externs: ['var cljs; cljs.user.foo = function(){};']`

[2016-12-04 03:34] Ch4s3 commented on #33
Did this get merged?

[2016-12-05 03:40] Ch4s3 opened #39 "Webpack 2 processCommonJsModules breaks require"
Using webpack 2 with `processCommonJsModules: true` seems to break require.

[code]

When a use the following in my entry point:
`const prism = require("./prism")`

I get a require not defined error in the browser. Removing ClosureCompiler fixes the error.

[2016-12-07 15:35] enjikaka opened #41 "Create webpack loader"
Would be nice with a webpack loader for closure compiler.
See: https://webpack.github.io/docs/loaders.html

Today we use Babel like this below;

Webpack conf:
[code]

Components
[code]

[2016-12-07 16:01] c0nfus3d opened #42 "Grunt support"
I see Gulp is supported, but I am more familiar with and prefer grunt.

Are there any built in Grunt options?

[2016-12-08 04:14] substack opened #43 "consider removing build system support"
By removing support for a few particular build systems, you can save yourself a lot of trouble long-term, because there will be an infinite list of systems that people will lobby to add over time.

Already people are petitioning for:

* [grunt support](https://github.com/google/closure-compiler-js/issues/42)
* [webpack loader](https://github.com/google/closure-compiler-js/issues/41)
* [rollup supp

[2016-12-08 13:31] GGG-KILLER commented on #25
Wouldn't the problem be in fact that [rollup expects `module.originalSourceMap` to be `null`](https://github.com/rollup/rollup/blob/c5d9d347721ad3d168b2ca6df27894be69815d1c/src/utils/collapseSourcemaps.js#L106-L108) when the files are generated in memory, and that when value is anything other than that, it tries to [resolve all sources to filenames within the filesystem](https://github.com/rollup/

[2016-12-08 20:38] MatrixFrog commented on #43
Part of me is inclined to agree with you: The compiler should just be a tool with a well-documented command-line interface, and then if people want to integrate it with their favorite build tool, they can do so, and hopefully it's not too hard to do.

On the other hand, for the build system integrations we already have, I don't mind keeping them around, as long as folks understand that we're going

[2016-12-08 21:39] samthor commented on #43
I also seem to remember that we struggle with dependant projects (those build systems) having fixed version dependencies on us, and then getting stuck on older versions of the compiler. That might just be an inherent problem with NPM (.. although to be fair, our version numbers might break semver from that point of view).

I'm also with @MatrixFrog: there's actually nothing stopping people doing t

[2016-12-12 12:16] leakypixel commented on #43
Perhaps break the build system support out into separate modules - this gives more flexibility with different compiler/build system versioning, and allows each module to stick to one concern.

I'd be happy to work on the gulp support module, as I'm sure would many others.

[2016-12-13 03:03] substack opened #44 "syntax error in built json"
I've been trying to get the source for this project to compile. After installing the correct version of java and maven I can run `./build.js` which finishes successfully, but when I run `test/simple.js` or try:

[code]

I get this error:

[code]

The file that closure-compiler-js is attempting to parse appears to be: `closure-compiler/target/classes/com/google/javascript/jscomp/resources.json`:

[

[2016-12-13 03:09] samthor commented on #44
There may still be a problem if you try to build the JS version from the GWT/Java source. The code that's deployed to NPM is fixed.

@MatrixFrog knows more.

[2016-12-13 03:34] substack commented on #43
I support breaking out support for these features into custom modules.

[2016-12-13 16:09] MatrixFrog commented on #44
This should have been fixed by https://github.com/google/closure-compiler/commit/f21c592ef37c71f39f98d7d18ebb59c618f4f420 -- can you check if you're synced past that commit?

[2016-12-13 16:38] Tobino opened #46 "Externs for angular-1.5.js doesn't work"
I'm currently trying to compile an angular project with closure with gulp

.pipe(compiler({
	compilationLevel: 'ADVANCED',
	externs:[
		{ path: './externs/angular-1.5.js' }
	],
	jsOutputFile: 'app.js'
}))

By it doesn't affect the result. I have still result as angular.b instead of angular.module with no error on compile.
 How to load externs ?

[2016-12-13 22:09] substack commented on #44
I don't have that commit. What branch is that in?

[2016-12-13 23:01] MatrixFrog commented on #44
It's on master, but it's in the main closure-compiler repo rather than this one. So you probably need to do something like:

`git submodule init`
`git submodule update`
`cd closure-compiler`
`git pull`

to get the submodule updated. My knowledge of git submodules is iffy, @samthor can probably help if that's not quite right. Then cd back to this repo:

`cd ..`

and build:

`./build.js`

[2016-12-14 15:59] jbemmel opened #47 "ICE when compiling 'bson' module"
One of my apps has the 'bson' npm package installed, and the compiler produces an ICE when processing it:

[09:55:15] Starting 'bug'...
/usr/lib/node_modules/google-closure-compiler-js/jscomp.js:4429
function yEb(b){var c;try{return b.Rh()}catch(a){a=Rgb(a);if(iL(a,71)){c=a;throw Sgb(new oJ(c))}else throw Sgb(a)}}
                                                                           ^

Error:

[2016-12-14 18:15] MatrixFrog commented on #47
Checking to see if this happens with the Java version too in which case it's just a bug in the compiler, and we should get a more readable stack trace.

[2016-12-14 18:28] MatrixFrog commented on #47
Seems to not happen with the Java version. @Dominator008 or @samthor do you know how to build a non-obfuscated version of the GWT build so that the stack trace we get is readable?

[2016-12-14 20:29] substack commented on #44
Thanks, this fixed it.

[2016-12-14 20:29] #44 closed

[2016-12-15 15:56] enjikaka commented on #41
https://www.npmjs.com/package/closure-compiler-web-loader
https://github.com/enjikaka/closure-compiler-web-loader

Made working non-configurable example.

Usage like this;

1. `npm install closure-compiler-web-loader`
2. Add it to webpack module loaders. Example of config file;
[code]

[2016-12-24 01:39] TheLarkInn commented on #43
I'm not sure I could share this sentiment. Of course we (the webpack org) would be happy to maintain a plugin/loader. And I do agree that it's not the cc-js teams responsibility to work on or maintain something like that.

That being said, no one should discourage opportunities for collaboration on these things. For example, It would be incredible to be able to pass a set of modules' sources simil

[2016-12-28 17:05] tschaub opened #48 "Support for extraAnnotationNames"
It looks to me like there is not a flag that provides the equivalent of `--extra_annotation_name`.  I see `extaAnnotationNames` in the `jscomp.js` build, but get an error when trying to use it.

Would it be possible to suppress warnings about specific unrecognized annotations?

[2016-12-30 02:56] hiranpodi commented on #29
when the entry_point flag will be available ?

[2017-01-05 16:44] Dominator008 commented on #48
This is being added.

[2017-01-05 21:20] Dominator008 commented on #48
Closed by https://github.com/google/closure-compiler/commit/553661cb69073087abc063e630119c88a6388552

[2017-01-05 21:20] #48 closed

[2017-01-07 17:48] corysimmons opened #50 "Is there a CLI for this by chance?"
If not, I can make one. Just wanted to make sure I wasn't missing it.

[2017-01-13 22:06] substack commented on #50
https://github.com/google/closure-compiler-js/pull/45

[2017-01-14 00:56] corysimmons commented on #50
Nice. Thanks substack. Big fan of yours.

[2017-01-14 00:56] #50 closed

[2017-01-18 16:06] jiyinyiyong opened #51 "no command line tool in 20161201.0.0?"
As I installed from npm I see no command line provided, but seeing from code in `master` branch, it does. And a `cmd.js` is missing:

[code]

[2017-01-18 19:55] MatrixFrog commented on #51
Looks like it was added in https://github.com/google/closure-compiler-js/pull/45 cc @samthor

[2017-01-18 23:56] samthor commented on #29
`extraAnnotationNames` is now supported (as an array).

[2017-01-19 00:25] samthor commented on #51
We've released a new version, 20161201.0.1 that includes the command-line script.

[2017-01-19 00:25] #51 closed

[2017-01-22 23:03] mgiuffrida opened #52 "No error output when invoked from command line"
The Node module doesn't output error messages from the command line. For example, this should result in a parse error, but outputs a blank line nothing and has an error code of `0`:

[code]

But:

[code]

[2017-02-04 14:53] mbirth opened #55 "Versioning scheme not semantic"
The current versioning scheme not only breaks Composer (using the fxp/composer-asset-plugin to pull in dependencies from npm and bower) but also it is not [semantic versioning](https://docs.npmjs.com/getting-started/semantic-versioning) compliant. Is there any chance to change this in the future?

[2017-02-04 18:15] concavelenz commented on #55
In what way does it break composer?

On Feb 4, 2017 6:53 AM, "Markus Birth" <notifications@github.com> wrote:

[2017-02-04 18:39] mbirth commented on #55
The guys from Composer believe, (semantic) version numbers shouldn't have more than 6 digits per group (X.Y.Z being 3 groups). So `20170204.0.0` causes an error there and they believe it isn't their fault. (See the issue I linked in my opening comment.)

[2017-02-04 21:33] Dominator008 commented on #55
@mbirth I don't think Semantic Versioning restricts the number of digits in major version numbers.

[2017-02-04 21:38] mbirth commented on #55
@Dominator008 Tell that those guys from Composer. (However, technically, major version bumps like you have with the dates would normally mean backwards incompatible API changes.)

[2017-02-05 10:17] curry684 commented on #55
Technically Semver does not impose an upper limit. It does however explicitly specify that the first public release of a package is to be called 1.0.0 and that a major version increase is reserved for breaking changes. Composer's limit is semi arbitrary of course but not more than MAXINT - both imply wrong usage of Semver. And if it were relaxed to 8 digits someone would complain because he wanted

[2017-02-05 11:05] curry684 commented on #55
Let me clarify some more. First of all I'm not a member of the Composer team so my opinions are my own. There are also facts though: Composer has no intention whatsoever of handling NPM packages and repositories. The ecospheres are fundamentally incompatible after all.

A (imho horrible) plugin exists which tries to shoehorn the 2 worlds together, to save end users from maintaining 2 tools to mana

[2017-02-06 03:51] concavelenz commented on #55
It is a pretty reasonable assumption that something in one of the compiler
options is a breaking change in every release.  While for most releases
upgrades are painless, compiler upgrades almost always break something.
Does it really matter to you if the version goes from 150.0.0 to 151.0.0 or
20170101.0.0 to 20170201.0.0 ?

On Feb 5, 2017 2:17 AM, "Niels Keurentjes" <notifications@github.com> wro

[2017-03-01 13:54] kylecordes commented on #38
There is a NPM package already out there that does this:

https://www.npmjs.com/package/rollup-plugin-closure-compiler-js

Unfortunately it is a couple of months behind in the version of closure-compiler-js it uses; providing this (quite simple, a couple of small source files) functionality in the closure-compiler-js box would be very helpful and always up-to-date.

If a project committer gives a

[2017-03-05 21:47] kylecordes commented on #43
@japalo "dependencies to preferred version of closure-compiler-js"  I think is a problem that @substack was trying to solve with the suggestion. The right design is for such plug-ins to not have a hard dependency on any specific version of the tool they are integrating, but rather that as the consumer you are free to pick up as new or old of the main tool (closure-compiler-js) as you like, and use

[2017-03-06 09:36] Kikobeats commented on #41
I'm missing something, but

[code]

[2017-03-06 09:39] enjikaka commented on #41
@Kikobeats Webpack changes their config all the time to break things and fuck of for the community :) You now have to write the full module name; which is `closure-compiler-web-loader`. Before, webpack assumed this when you only wrote `closure-compiler`. So this should work;

[code]

[2017-03-10 03:54] Dominator008 commented on #47
Using 20170124.0.0 it didn't crash for me, but also didn't compile because the module resolution wasn't working. I'll try again once 20170218.0.0 is published.

@MatrixFrog You'd need to add
[code]
to
https://github.com/google/closure-compiler/blob/f21c592ef37c71f39f98d7d18ebb59c618f4f420/pom-gwt.xml#L254
for a non-optimized version.

[2017-03-24 00:41] aluanhaddad commented on #55
Yeah, but date based versioning schemes are awkward for other reasons. They imply a point in time, not a state of being, if you'll pardon a bit of philosophical silliness, and some package managers _are_ designed to pull npm packages based on their semver tags. This would help anyone wanting to pull your package in via jspm for example.

I am not trying to be proscriptive. I just find that followi

[2017-03-24 02:22] teppeis commented on #55
In my understanding, Closure Library's date based versioning is semver compliant.
Because it actually has some breaking changes every time!

[2017-03-24 08:59] curry684 commented on #55
@teppeis as I stated before: *"Please refer to points 5, 8 and 10 of http://semver.org"* While we could argue the exact meaning of 'incremented' in point 8 the general consensus in the programming world is that something like the "increment operator" increments by 1 unless specified otherwise. And starts at 1.0.0. And Semver explicitly defines that build metadata, like for example the date of buil

[2017-04-03 05:49] orenmizr opened #57 "goog.module support ? "Required namespace" XXX "never defined.""
build:
tsickle (by angular team. typescript + closure annotations) = output: goog.modules ->  closure compiler

always fails on goog.requires. i thought it was suppose to complete each other

[2017-04-03 15:30] MatrixFrog commented on #57
fails how? What's the error message?

[2017-04-03 16:32] orenmizr commented on #57
"Required namespace" XXX "never defined."  ALWAYS after tsickle.
[code]

[2017-04-03 16:55] MatrixFrog commented on #57
We'll probably need a small code sample to repro. cc @alexeagle

[2017-04-04 04:29] alexeagle commented on #57
Please file such issues on the angular/tsickle issue tracker - there is no reason to suspect a bug in closure compiler until eliminating the possibility that tsickle produces bad JS.

[2017-04-13 03:38] GeoffreyBooth opened #59 "INTERNAL COMPILER ERROR. Node(ARRAY_PATTERN)"
I’m a contributor to CoffeeScript and we use closure-compiler-js to minify the browser version of the CoffeeScript compiler. Starting with version 2, CoffeeScript’s compiler is output as ES2015 JavaScript (from original CoffeeScript source) which we then pass to closure-compiler-js.

This worked fine for 2.0.0-alpha1, which started outputting things like classes and default parameters using their

[2017-04-14 00:20] Dominator008 commented on #59
I admit the stack trace is not helpful at all. While I dig into it more, have you tried using the Java version instead (https://www.npmjs.com/package/google-closure-compiler)?

[2017-04-14 00:36] GeoffreyBooth commented on #59
From commit https://github.com/jashkenas/coffeescript/commit/db216ec384e7aa11b307fd2056dc614d9c60eb2f, I edited `docs/v2/browser-compiler/coffeescript.js` to remove the embedded `markdown-it.min.js`, just to try to isolate the issue. I still get errors. Here’s the Java compiler, from `java -jar /usr/local/lib/node_modules/google-closure-compiler/compiler.jar coffeescript.js --js_output_file coffee

[2017-04-14 00:44] Dominator008 commented on #59
Yeah it's a bug in `Es6RewriteDestructuring`. I'll get to it soon. Thanks for the stack trace!

[2017-04-14 02:17] Dominator008 commented on #59
Reduced to a minimal repro:
[code]

[2017-04-18 20:41] aslushnikov opened #60 "node.js + closurecompiler.js"
I'm trying to use closurecompiler.js to lint types in node.js application. However, closure fails to resolve global modules  – e.g. `require("fs")` fails.

Is this supported? What's the workaround for this? I would appreciate any guidance and examples.

Here is a demo repository which exhibits the problem: [example-node-types](https://github.com/aslushnikov/example-node-types)

[2017-04-26 01:33] samthor commented on #60
dup of #33.

[2017-04-26 01:33] #60 closed

[2017-04-26 02:00] #52 closed

[2017-04-26 14:43] simonsarris opened #63 "INTERNAL COMPILER ERROR. Please report this problem. undefined Node(ASSIGN)"
I'm using the closure compiler with TypeScript output. In one class (`class Util`) I have:

    static 'vfo' = '@vfo'; // version info

Which turns into:

    Util['vfo'] = '@vfo'; // version info

Which is pretty close to the JS I use with the Java Closure compiler and it has no problem with it.

Then when I use webpack with my JS (that was output from TS with `tsc`) and the closure compiler, I g

[2017-04-26 16:12] MatrixFrog commented on #63
cc @alexeagle

[2017-04-26 16:50] simonsarris commented on #63
Hmm, this problem does not seem specific to this project (but also to the regular closure compiler with the tsc output passed to it)

[2017-04-26 17:04] Dominator008 commented on #63
@simonsarris Could you provide a stack trace from the regular / Java version of Closure Compiler? I admit the stack trace from GWT is currently unusable. Thanks.

[2017-04-26 17:29] simonsarris commented on #63
[code]

[2017-04-28 17:00] Dylan-Chapman commented on #17
+1

The current behavior is really odd for a Gulp plugin.

[2017-05-04 00:07] freshp86 commented on #29
@danbeam, @MatrixFrog

`polymerPass` flag is documented at https://github.com/google/closure-compiler-js#flags, but it is not actually supported. I get the following error when I pass it

[code]

Trying to debug the minified `jscomp.js` code clearly shows that there is some global object somewhere that has a list of all flags that are consumed, and is *not* containing that flag, so it is left unco

[2017-05-04 02:21] danbeam commented on #29
@freshp86 and I figured out the new equivalent is polymerVersion=1 and that polymerPass will like be restored (to mean polymerVersion=1) in newer versions

[2017-05-18 20:29] karlbateman opened #64 "Traceur to Closure usage"
Hi all,
Can someone provide a `webpack.config.js` sample which uses Traceur and Closure together?
I am trying to bundle an ExpressJS application with webpack and hit issues with `"use strict"` generated from Traceur.

[2017-05-18 22:40] MatrixFrog commented on #64
Out of curiosity, are you getting any functionality from Traceur other than ES6-to-ES5 conversion? If not then Closure's 6-to-5 functionality might work for you.

[2017-05-19 05:26] karlbateman commented on #64
@MatrixFrog Thanks for getting back to me. I'm a fan of the `import` statements but haven't had the chance to try any additional features.

[2017-05-25 10:31] yeyingxian opened #65 "Not compatible with node.js v4"
I am using ubuntu 16.04, and node.js was installed by apt-get. The version of node.js for ubuntu 16.04 is 4.2.6. When installed google-closure-compiler-js with npm, the command is not runing. The error is

root@ubuntu:/home/licode/erizoAPI# google-closure-compiler-js
/usr/local/lib/node_modules/google-closure-compiler-js/cmd.js:58
Promise.all([sources, externs]).then(arr => ready(...arr)).catch(er

[2017-05-25 17:15] MatrixFrog commented on #65
https://github.com/google/closure-compiler-js/blob/master/cmd.js#L58

We can change this to ready.apply(arr) or we can just say we don't support node 4. I will leave that up to @samthor I guess.

[2017-06-07 10:37] DIYgod opened #66 "Webpack and Gulp plugins don't read jsCode/externs file content"
There is my configurations and files, the flag `externs` works in [`gulp-closure-compiler`](https://github.com/steida/gulp-closure-compiler), but doesn't work in `closure-compiler-js`.

**gulp configuration:**

https://github.com/DIYgod/demo/blob/master/bad-closure-compiler-js/gulpfile.js

**externs file**

https://github.com/DIYgod/demo/blob/master/bad-closure-compiler-js/externs.js
[code]

**sou

[2017-06-13 01:20] Dominator008 commented on #59
Hi, sorry for the wait. This particular issue should have been fixed by https://github.com/google/closure-compiler/commit/1ea642a1a31aa9259cbdf3369a2602150bcb2a9a. Could you build closure-compiler-js from HEAD and take a look? Thanks!

[2017-06-13 04:00] GeoffreyBooth commented on #59
I’m not sure how to do that, but my reproduction instructions above should work for you to test it.

[2017-06-13 04:27] samthor commented on #66
Thanks for the bugreport and repro case. I do appreciate that Java and JS should do the same thing. It looks like the Gulp and Webpack plugins actually never read the specified externs. For now, you should pass them in as part of the source (annotated with `@externs`, as you're doing).

However I believe you're relying on undefined behavior.  When I change the warning level to DEFAULT or VERBOSE o

[2017-06-25 13:38] sunzhuoshi commented on #66
I came across the same issue, and I fixed it by reading extern files by myself before passing 'options' to compiler, as it does in cmd.js of closure compiler.
you can check my gist [https://gist.github.com/sunzhuoshi/86f2d5a7f3330e227762b0909372ca60](https://gist.github.com/sunzhuoshi/86f2d5a7f3330e227762b0909372ca60)

[2017-07-02 06:44] nazar-pc opened #67 "Error: Process spawn error. Is java in the path?"
Node 8.1.3, closure-compiler-js fails with:
[code]

Can be reproduced with:
[code]

And yes, I do not have Java installed and do not plan to install.

[2017-07-02 07:13] samthor commented on #67
ShadyCSS depends on the [Java version](https://github.com/google/closure-compiler) of the compiler. Please file an issue on ShadyCSS.

[2017-07-02 07:13] #67 closed

[2017-07-03 14:15] rondonjon opened #68 "webpack plugin should use the webpack API for error handling"
The closure-compiler-js webpack plugin is currently using the globally defined `logger` for error reporting, which ultimately dumps all errors to stdout.

This is not how errors should be handled in webpack. Admittedly, the webpack docs don't give too much information, but it seems to be common practice to push errors into the `compilation.errors`
 array, so that webpack can later handle (e.g. for

[2017-07-03 15:32] #68 closed

[2017-07-03 17:41] rondonjon commented on #37
Hello @swernerx, you could work around points 1 and 2 in your original post if CC would use the webpack API to raise its errors and warnings instead of just dumping them to stdout. Since you're using webpack2 with a big configuration, I guess you're already processing webpack's error and warning arrays at some point, and you could then at least suppress these meaningless messages. See pull request

[2017-07-03 19:47] rondonjon opened #71 "How to use this project after cloning it?"
I wanted to try out some changes, so I cloned the project into my github account. Before changing anything inside the cloned project, I updated the `package.json` of the test project in which I am going to use the compiler:

 `"google-closure-compiler-js": "github:rondonjon/closure-compiler-js"`

The download through `npm i` worked just as expected, but now I am getting strange errors on the conso

[2017-07-03 19:57] Dominator008 commented on #71
Does `node build.js` work?

On Mon, Jul 3, 2017, 15:47 Ron Don Jon <notifications@github.com> wrote:

[2017-07-04 07:35] rondonjon commented on #71
No, unfortunately that's only causing more errors.

I went into the `node_modules/google-closure-compiler-js` directory; first time running `node build.js` there threw an error about ncp being missing; I was able to fix it by running `npm i`.

Now I am now getting the following from `node build.js`:

[code]

I looked into the script; apparently it wants to run `mvn` on the command-line, which I do

[2017-07-04 07:39] samthor commented on #71
We don't check in the built transpiled Java => JavaScript build source as it's (IIRC) about ~2mb. You should fetch the `jscomp.js` file from NPM or a trusted mirror.

You're right though—the repo doesn't have build instructions. We have them documented internally but I'll add them on this repo. (Sadly, they do involve having Java and Maven installed).

[2017-07-04 08:16] rondonjon commented on #71
Hello @samthor, thanks for your quick reply.

I have now installed maven, downloaded jscomp through npm (as a module, couldn't find any prebuilt bundles) and created a symbolic link `jscomp.js -> node_modules/jscomp/index.js`, so that the path can be resolved.

I can now run `node compile.js` without errors. The script completes rather quickly and without any other ouput, so I am not sure if it re

[2017-07-07 08:46] danxinju commented on #23
@samthor  Same problem appeared, it would be great if you have a solution to make the large-sized js works ok.

[2017-07-12 09:09] Kurren123 commented on #23
I'm getting the same problem.

[code]

[2017-07-18 18:59] Akkuma commented on #24
I'm seeing the same problem. GCC is literally unusable and I can't even see what the output is since I am not willing to wait. I have some very large files due to a lot of dependencies with large sizes and uglifyjs can handle this in roughly 30s-60s. GCC 17 minutes later has yet to even complete.

[code]

[2017-08-10 20:06] samthor commented on #23
Can you please try again with [Node v8.3.0](https://nodejs.org/en/blog/release/v8.3.0/)? We believe that this version lifted the maximum value supported in `max_old_space_size`.

[2017-08-11 02:27] danxinju commented on #23
@samthor Thanks for your replay, but my real intention is that we have no much space for the closure compiler, and java version of closure compiler is ok.

So I simply think that the final solution is that javascript version needs to be improved, not about the node version to lift the maximum value.

[2017-08-11 06:51] Ojas-Gulati commented on #42
This is old, but I'll give it a try!

[2017-08-13 10:53] nazar-pc opened #72 "Nodejs externs broken?"
I'm using externs from `node_modules/google-closure-compiler-js/contrib/nodejs` (all of the files from there) and getting lots of errors like this:
[code]

Shouldn't it work out of the box?
Closure Compiler JS 20170806.0.0

[2017-08-13 11:46] nazar-pc commented on #72
Looks like it is already included into Closure Compiler by default, am I right?

[2017-08-13 13:36] nazar-pc commented on #24
Here is reproducible example I'm having troubles with: https://github.com/nazar-pc/closure-compiler-bug-24
It takes about 11 minutes. I'm not even saying about up to 1G memory consumption, which is not a big deal for me, but still quite a lot.

[2017-08-14 08:13] nazar-pc opened #73 "jscomp_off, jscomp_warning and jscomp_error options not available in JS version"
Latest JS version simply do know understand these options:
[code]

[2017-08-14 22:54] MatrixFrog commented on #73
Was this working in a previous version? Which one? I'm not sure if we actually ported these flags to the JS version or not.

[2017-08-15 05:32] nazar-pc commented on #73
No, it didn't work in previous versions either

[2017-08-17 08:23] anlexN opened #74 "ReferenceError: window is not defined"
![default](https://user-images.githubusercontent.com/8686739/29402034-07372682-8366-11e7-8b57-d032ca2e4a23.PNG)
![1](https://user-images.githubusercontent.com/8686739/29402035-07391f64-8366-11e7-8a74-f27fffba88c6.PNG)
![2](https://user-images.githubusercontent.com/8686739/29402033-07295660-8366-11e7-8bb0-3c7394775e77.PNG)

[2017-08-17 20:52] nazar-pc commented on #23
I've also got the same issue when compiling 4.3 MiB file with Node v8.4.0.
stderr:
[code]
stdout:
[code]

If mentioned reproducible example is not enough, I can prepare another one.

Interestingly, this seems to happen after I've squeezed last compilation errors, it worked with incomplete externs with some complaints, but didn't crash.

[2017-08-17 21:00] nazar-pc commented on #73
@MatrixFrog is it difficult to expose these options in JS version?

[2017-08-17 22:16] samthor commented on #23
@nazar-pc can you confirm this is happening with a large `max_old_space_size` value?

e.g. `node --max_old_space_size 4096 ...`

[2017-08-17 22:24] nazar-pc commented on #23
@samthor, yes, `node` process peaked at around 4.1-4.3 GiB before it crashed.

[2017-08-17 22:28] samthor commented on #23
What about higher—8192 etc? The Node team tell us that there should be "no limit" as of 7.3 or higher, so I'd be surprise if you couldn't get it to compile with a large number. (We're obviously not happy that so much memory is being used, but as a stop gap.)

[2017-08-17 22:50] nazar-pc commented on #23
I was really generous, gave it 20000 MiB of memory (more than most people have in total). Node process peaked at 19.7 GiB, tried pretty hard for a few minutes, but eventually also crashed.
I think it'll eat as much memory as you allow it to.

[2017-08-17 22:56] dmitryxcom opened #75 "NTI vs OTI inconsistency in @record missed property handling"
To repro, compile this with OTI and NTI:

[code]

OTI reports missing property (expected), while NTI does not.

[2017-08-18 19:52] nazar-pc commented on #23
Here is a demo project that can be used to reproduce an issue: https://github.com/nazar-pc/closure-compiler-js-bug-23

[2017-08-20 13:52] nazar-pc commented on #23
@samthor, is there anything else I can do to help getting this issue fixed (it is opened for almost a year now)?

[2017-08-23 08:39] abdullah opened #76 "Sample code not working"
Hi, I tried samples code in this repository but I received the following error message:

[code]

[2017-08-24 21:07] mccambridge commented on #23
I'm having the same issue. Is there any way to set this via CLI directly when I call ,`google-closure-compiler-js` or do I have to write a script?

[2017-08-25 02:10] nazar-pc commented on #23
@mccambridge set what? Issue is not fixed and increasing memory limit doesn't help.

[2017-08-25 13:31] mccambridge commented on #23
@nazar-pc Gotcha. I thought I might be able to increase the limit. My project isn't huge, but it isn't small, either.

[2017-09-07 21:59] philipwalton opened #77 "Setting ECMASCRIPT_2017 for the languageOut option always errors"
For example, even given the following reduced example, I get an error:

[code]

I get the error `ReferenceError: window is not defined`:

[code]

I'm using version `20170806.0.0`, and note that I do NOT get this error when using the Java version.

(possibly related to #74, but I can't be sure since that issue gives no details)

[2017-09-20 10:05] thomaspink commented on #77
same here, also with `ECMASCRIPT6` as `languageOut`

[2017-09-20 15:42] 2pha commented on #32
Did you ever figure this out? I'm in the same boat.

[2017-09-20 17:31] MatrixFrog commented on #77
@tadeegan can you help us get a non-obfuscated stack trace?

[2017-09-21 05:56] samthor commented on #75
If this is an issue with Closure Compiler itself (rather than the JS version specifically), try reporting the issue on the main repo: https://github.com/google/closure-compiler

[2017-09-21 05:56] #75 closed

[2017-09-21 05:59] samthor commented on #74
@anlexN are you using ECMASCRIPT_2017 as the output mode?

[2017-09-21 06:01] samthor commented on #77
Inside the (newer version) of JSComp, there's a dangerous-looking line on 5772:

[code]

Which would predispose the existence of `window`.

[2017-09-21 07:02] anlexN commented on #74
no. it is es2015

[2017-09-21 08:27] tadeegan commented on #77
Why is the node version of the compiler built with obfuscation? It should
be built with all optimizations off since you're not optimizing for web. It
will make debugging these things a lot easier.

@tyler You can try tracing back the stack trace by hand in the sourcemap to
see where the original stack frames come from. We have an automated tool
for this which I can try when I get back from vacatio

[2017-09-21 16:20] MatrixFrog commented on #74
Most users should stick to language_out = ES5 for now. Otherwise you're missing out on many optimizations, and typechecking.

[2017-09-21 16:24] MatrixFrog commented on #74
(But we should still fix this crash)

[2017-09-21 16:51] MatrixFrog commented on #77
Code size and optimization matters (somewhat) for node too. You aren't downloading all the code into your browser but you still have to read and parse it all. Maybe for node we can enable some basic optimizations but turn off renaming.

[2017-09-21 17:43] tadeegan commented on #77
I'd like to see numbers for that. V8 has pretty good startup time. The jit
can do the same inlining as gwt optimization.

On Thu, Sep 21, 2017 at 6:51 PM Tyler Breisacher <notifications@github.com>
wrote:

[2017-09-21 22:52] gkdn commented on #77
GWT's StackTraceDeobfuscator could be used for deobfuscation but it needs some plumbing that might not be trivial for non-web apps.

If it is very unlikely you will get same level performance with jitting that the GWT optimizations provides . On the other hand, you can just disable obfuscation (--style PRETTY) while keeping optimizations on; that might be a reasonable tradeoff.

[2017-09-24 01:01] AlastairTaft commented on #36
This might be off the mark but I spent most of today trying to understand why the closure compiler can't minify a webpack bundle very well.

It seems to me that it's due to webpack loading modules at runtime, if you could flatten your dependencies when only ES6 imports were used (don't think it would be compatible with CommonJS) then the advanced compilation would be able to remove dead code bette

[2017-09-24 18:08] alexeagle commented on #36
Can you explain the motivation for using webpack together with closure compiler? Closure compiler is a bundler so it should get individual ES6 JS inputs. Minifying a bundle is a bad idea because
- closure can drop whole modules if they are not imported
- the output bundle is ES5(?) so closure loses the class structure
- properly composing the sourcemaps seems hard

I do think it would be interesti

[2017-09-24 22:37] samthor commented on #74
FYI we've pushed 20170910.0.1, which includes a fix for this issue. PTAL and let us know if it's fixed.

[2017-09-24 22:39] samthor commented on #77
I've pushed a temporary fix in 20170910.0.1—please try it out.

The flipside being that you'll now have a bunch of extra logging on STDERR (this is the cause—we're logging to a target we never used before), but it should be easy to strip out of your build process.

[2017-09-24 23:32] AlastairTaft commented on #36
My original thinking was that the compiler was only a code minifier. I wanted the ease of use of webpack with the power of the CC in advanced mode. After getting my sample project working with the CC it was very difficult, documentation is thin and some versions of the CC just don't work, webpack is much easier to use, there's loads of documentation and a larger community to help.

But it came dow

[2017-09-25 03:27] anlexN commented on #74
could you please showcase es2015+ feature supported by closure-compiler-js?

[2017-09-25 15:45] alexeagle commented on #36
It makes sense to use webpack still, as the devserver (closure is too slow
for a good edit-refresh cycle) and for code splitting. I'm just pointing
out that the closure compiler integration should take individual ES6
sources rather than the bundle(s) as inputs.

1. closure dropping modules is important, because some modules might have
side effects on load (eg. class definitions) but you can demons

[2017-09-25 16:11] AlastairTaft commented on #36
Ah thanks, that's some very good points to consider and thanks for those links will have a read through them.

[2017-09-25 17:15] MatrixFrog commented on #74
What kind of showcasing do you have in mind? https://github.com/google/closure-compiler/wiki/ECMAScript6 discusses what we support (though it may be somewhat out of date, I think it's pretty close to accurate)

[2017-09-27 14:47] amarcu5 commented on #77
I'm now getting the error `Cannot read property 'u' of undefined`:

[code]

[2017-09-28 04:18] samthor commented on #77
@amarcu5 what is the repro case? @philipwalton's case now builds fine.

[2017-09-28 08:59] amarcu5 commented on #77
Reduced example:

[code]

[2017-09-28 22:13] #76 closed

[2017-10-25 16:23] leeoniya opened #79 ""<>=&" is compiled to "\x3c\x3e\x3d\x26""
probably missing some other entities here, too. this does not happen in the Java version.

test code:

[code]

[2017-10-31 00:19] MatrixFrog commented on #79
IIRC this is the "trustedStrings" option. https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/CompilerOptions.java#L988

We can probably turn it on by default for the JS version.

[2017-10-31 00:30] leeoniya commented on #79
hmm, thanks. i'll try that.

FWIW the java version did also escape angle brackets but only if they were part of an html comment in a string: `""` -> `"\x3c!-- foo --\x3e"`. i dont believe this is technically necessary either. (unlike escaping `/` in `"</script>"`.

[2017-10-31 17:13] tomgallagher opened #80 "Google Closure Compiler REST API, AJAX, No Compiled Code Returned"
OK. Here's a headscratcher.

Setting up the various params for the Closure Compiler, with text as my Javascript string:

    var scriptRequestData = {
            'output_format': 'json',
            'output_info': 'compiled_code',
            'output_info': 'warnings',
            'output_info': 'errors',
            'output_info': 'statistics',
            'compilation_level': 'WHITESPACE_ONLY',

[2017-10-31 18:39] tomgallagher commented on #80
So just to update if anyone's reading this: if I remove all the output info options apart from the compiled code, I get the compiled code back. So it seems that when you add errors and statistics in, the format of the JSON response cannot be read by ajax, so it just does its best and returns the statistics. Indeed, when I get the JSON response from Postman and try to parse it using JSON.parse, I g

[2017-11-02 09:00] tomgallagher opened #81 "Closure Compiler for use in the browser without webpack or grunt"
Hi

Is it possible to use Closure Compiler in the browser, for example in a Chrome Extension, without using Node, let alone webpack or grunt? Can it be used as a standalone JS library?

If so, where can I find the js file?

Thanks

[2017-11-03 17:07] MatrixFrog commented on #81
We have a demo at https://closure-compiler-debugger.appspot.com/gwt_debugger.html as well as npmjs.com/package/google-closure-compiler-js but it's not as well supported as the Java version at this time.

[2017-11-03 18:10] tomgallagher commented on #81
Thanks for getting back  I'll take a look.

Sent from Samsung Mobile on O2
-------- Original message --------From: Tyler Breisacher <notifications@github.com> Date: 03/11/2017  17:07  (GMT+00:00) To: google/closure-compiler-js <closure-compiler-js@noreply.github.com> Cc: Pathfinder <thomasgallagher101@gmail.com>, Author <author@noreply.github.com> Subject: Re: [google/closure-compiler-js] Closure

[2017-11-07 00:34] gaearon commented on #71
I am trying to get `./build_compiler.js` working, as I want to build from source.
I installed Java 9.0.1 and Maven 3.5.2, but the build is failing with

[code]

Any ideas as to what’s going wrong?

[2017-11-07 00:36] MatrixFrog commented on #71
In general, if you're interested in hacking on the compiler and not just using it, I recommend working from https://github.com/google/closure-compiler which is better supported and documented than this repo.

[2017-11-07 00:37] gaearon commented on #71
Hmm. I'm specifically interested in the JS version. As far as I understand the main repo is already a submodule, isn't it?

[2017-11-07 00:38] gaearon commented on #71
In particular, I want to expose a flag for JS version (as I described in https://github.com/google/closure-compiler/issues/2690). I imagine this would be done somewhere in the [GWT runner](https://github.com/google/closure-compiler/blob/master/src/com/google/javascript/jscomp/gwt/client/GwtRunner.java) but I'd need to compile my changes to JS to actually test if they work. So this is why I'm tryin

[2017-11-07 00:39] MatrixFrog commented on #71
Okay cool. Hopefully we'll get the Travis build into a good state soon and then, worst case, you can "test" by just sending the PR and letting Travis test it.

[2017-11-07 00:40] gaearon commented on #71
https://github.com/google/closure-compiler-js/pull/82
:-)

[2017-11-12 14:56] xvilo commented on #23
I have the same issues. When compile just a simple js file it works. As soon as i include the Closure **Library** to it, it can't handle it :(

[2017-11-22 23:47] #81 closed

[2017-12-01 18:35] concavelenz commented on #77
@MatrixFrog

[2017-12-07 15:43] hultqvist opened #84 "Generating source map from command line?"
Can a source map be generated when calling google-closure-compiler-js from the command line?

I can pass `--createSourceMap true` but can't find any map files generated.

So far I've been using the pipe output so I guess the map can't be sent there.
Using `--jsOutputFile test.js` gives the error: `Unhandled flag: jsOutputFile`.

[2017-12-08 22:06] MatrixFrog commented on #77
It looks like this is fixed now (and this months release was published to npm successfully).

[2017-12-08 22:06] #77 closed

[2017-12-20 15:22] josecanciani commented on #84
Could you resolve it? It seems it's not yet an option. Here's a quick script I wrote to compile it, replace your options as needed:

[code]

[2017-12-20 16:34] hultqvist commented on #84
I'm afraid not.
Using the closure-compiler from a non javascript runtime I don't have access to those tools.
I ended up using the java version for now.

[2017-12-20 17:14] josecanciani commented on #84
Could you resolve it? It seems it's not yet an option. Here's a quick script I wrote to compile it, replace your options as needed:

[code]

[2018-01-01 12:04] martinsik commented on #84
I just stumbled upon the same problem. I added a PR #87 to fix.

The `jsOutputFile` is used only by `gulp` and is then removed: https://github.com/google/closure-compiler-js/blob/master/lib/gulp.js#L95-L96

[2018-01-02 07:27] jamonholmgren opened #88 "env setting doesn't seem to be respected"
TL;DR version: `compile({ env: 'CUSTOM' })` doesn't seem to set the `env` to `CUSTOM` (it remains `BROWSER`).

## Background

I'm trying to use `google-closure-compiler-js` with Rollup. I initially used [rollup-plugin-closure-compiler-js](https://github.com/camelaissani/rollup-plugin-closure-compiler-js).

[code]

It would give me this error:

[code]

I figured it was a problem with the Rollup plu

[2018-01-04 21:38] DazWilkin opened #89 "[Please] Add "js_output_file" flag"
The JavaScript implement does not currently support designating an output file.

There is a flag with the Java implementation: [js_output_file](https://github.com/google/closure-compiler#compiling-multiple-scripts)

I believe (!?) a limitation without this is that I'm unable to effectively containerize the compiler by deriving its image from a baseline npm image.

`Dockerfile`:
[code]

I'd like to

[2018-01-08 07:41] reshadi opened #90 "passing --defines on command line"
Hello,
The 'defines' flag expects an object, but I could not figure out how to pass an object on the command line.
The java version accepts multiple --define "name=value" on the CLI.
The js version is using minimist and I could find any code that converts cli arguments to an object. If I pass multiple, it turns them into an array, not an object that is expected.
Is there a way to do this from cli?

[2018-01-09 00:18] samthor commented on #90
The CLI version of the -js compiler was contributed. It's likely that it doesn't support the same syntax as the Java version, and we'd be happy for you to contribute it.

[2018-01-09 06:17] reshadi commented on #90
Ok, sent the pull request.
thanks.

[2018-01-13 02:13] arichiardi opened #92 "Add lumo in the Build systems section"
Hello folks,

The Clojure community as you probably well know is very keen on the Google Clojure Compiler on the JVM. Some folks like @anmonteiro and myself are very keen on this port because it allows us to work with no JVM whatsoever.
Antonio created [lumo](https://github.com/anmonteiro/lumo) for exactly this purpose and I was wondering whether we can add it to the Build system section here in t

[2018-01-24 23:52] #80 closed

[2018-01-30 19:42] sanmai-NL opened #93 "Garbage on stdout"
I can’t write standard output as ES, since it contains diagnostic strings:
[code]

[2018-01-30 19:45] MatrixFrog commented on #93
I suppose the JS version should set the log level to off at least by default. cc @samthor

[2018-01-31 02:40] reshadi commented on #90
Hello, this pull request has been merged, any idea when the next release will be?
thanks.

[2018-02-05 12:42] qudg74 commented on #73
@samthor, will you have time to look into this? I'd love to see these flags, too and say goodbye to Java.

[2018-02-17 01:01] AntonioRedondo commented on #23
Any progress on the ticket? I came across with this issue as well, and it's a pity it prevents using this great tool.

[2018-02-17 01:22] steveblue commented on #23
Use the Java implementation instead, it is way more stable @AntonioRedondo

[2018-02-21 03:49] Zysen commented on #57
I appear to be having the same issue. Its possible that im missing something, but the problem occurs when you specify input files in the wrong order. compiler.jar works fine.

I am using the icecream,cone,shop example from https://github.com/google/closure-compiler/wiki/Managing-Dependencies.

// File 1 - icecream.js
goog.provide('ice.cream');
// File 2 - cone.js
goog.provide('waffle.cone');
// Fi

[2018-03-08 19:47] graham-h commented on #65
@yeyingxian this works for me now on 4.8.7, so hopefully works for you too.

[2018-03-08 19:48] #65 closed

[2018-03-22 12:20] raghunathchary commented on #23
I see same issue while running ng build on docker.

92% chunk asset optimization
#
# Fatal error in , line 0
# API fatal error handler returned after process out of memory
#

[2018-03-26 20:19] arichiardi opened #96 "Generated JS contains references to home"
GCC newbies here. I am triggering the JS compiler with `:jsCode` path that are absolute.

In the compiled file, I think since version `20180204`, I see:

[code]

I was wondering if the compiler expects relative paths or I am missing a switch for setting up the project root.

Thanks for any hint on where to check and/or to read :smile:

[2018-03-30 09:42] Zubnix opened #97 "INTERNAL COMPILER ERROR: async functions should have already been converted"
[code]

Failing file:
https://github.com/udevbe/greenfield/blob/master/browser/src/BrowserSession.js

webpack config:
[code]

plain webpack'ed file attached:
[bundle.zip](https://github.com/google/closure-compiler-js/files/1863276/bundle.zip)

//edit
When trying to Java version, it complained about async being ecma8. So I changed the in & out language to 8 which resulted in an EPIPE error (using J

[2018-03-30 10:59] Zubnix opened #98 "INTERNAL COMPILER ERROR. undefined Node(FUNCTION )"
[code]

Bug details are the same as reported in #97 but with a different webpack config:

[code]

Java plugin, same settings:

[code]

[code]

[2018-04-23 04:25] arichiardi commented on #96
Closing this one for now.

[2018-04-23 04:25] #96 closed

[2018-05-16 14:56] fabiospampinato opened #99 "Gulp: doesn't work with empty streams"
If the stream is empty, i.e. doesn't contain any files, after running this plugin I have one file named `compiled.js` in the stream with this as content: `'use strict';`

This plugin shouldn't add any files to an empty stream.

[2018-05-21 17:14] sbrl commented on #93
Yep, I'm getting this too. Is there fix for this yet? It makes the program useless in it's current form.

[2018-05-21 17:16] ChadKillingsworth commented on #93
This isn't JS specific - it affects the java version as well. Please file the issue at https://github.com/google/closure-compiler. That's where it will need fixed.

[2018-05-21 17:16] #93 closed

[2018-05-21 17:59] ChadKillingsworth commented on #90
It's release everytime the main compiler is released.

[2018-05-21 17:59] #90 closed

[2018-05-21 18:00] ChadKillingsworth commented on #89
The JS version currently does not support any filesystem operations. Adding them is non-trivial, but something I'm looking at.

[2018-05-21 18:10] ChadKillingsworth commented on #84
The JS version does currently support filesystem operations. I'm looking at adding that, but its not currently an option.

The source map is created, but the consumer is responsible for writing out the file.

[2018-05-21 18:20] ChadKillingsworth commented on #72
I'm not sure the nodejs externs are properly maintained - and they required a custom build of the compiler. I'm not sure this will be supported anytime soon.

[2018-05-21 18:20] #72 closed

[2018-05-21 18:25] ChadKillingsworth commented on #63
Crashes in the compiler need to be reported to https://github.com/google/closure-compiler.

[2018-05-21 18:25] #63 closed

[2018-05-21 18:28] ChadKillingsworth commented on #59
If this is still an issue can you post it at https://github.com/google/closure-compiler?

[2018-05-21 18:28] #59 closed

[2018-05-21 18:30] ChadKillingsworth commented on #57
Entrypoint should be `goog:ice.cream.Shop`

[2018-05-21 18:30] #57 closed

[2018-05-21 18:32] #29 closed

[2018-06-07 00:02] Cinemacloud opened #103 "Using with node module gulp-closure-compiler"
Curious if there's a way or version  of the above repo to make this work. I see the simple Gulp example here but our project seems to extensively use gulp-closure-compiler provided by java version of google-closure-compiler which doesn't have a simple way of converting it to js only.

Thanks,
Peter

[2018-06-07 13:17] fdietze commented on #24
I can confirm the bad performance even with `compilationLevel: 'WHITESPACE_ONLY'`. My input file is ~2M with a 7M source map. It took **1773s** in total.

[2018-06-07 19:11] ChadKillingsworth commented on #24
I'm closing this issue. The compile time performance isn't directly related to the JS publication to NPM. Any compilation time issues need reported to the main repository: https://github.com/google/closure-compiler

[2018-06-07 19:11] #24 closed

[2018-06-07 19:12] ChadKillingsworth commented on #103
It will very soon: https://github.com/google/closure-compiler-npm/pull/81

[2018-06-07 19:12] #103 closed

[2018-06-07 19:12] ChadKillingsworth commented on #99
This is fixed by https://github.com/google/closure-compiler-npm/pull/81

[2018-06-07 19:14] ChadKillingsworth commented on #98
languageOut: 'ECMASCRIPT8' -> That's not yet a supported output language. Highest output language currently supported is ECMASCRIPT6

[2018-06-07 19:14] #98 closed

[2018-06-07 19:29] nazar-pc commented on #24
@ChadKillingsworth, Java version doesn't have this issue

[2018-06-08 01:46] ChadKillingsworth commented on #24
This repo doesn't house the source code for the compiler - just the npm distribution and publication. Even the JS version compilation time would need to be addressed in the other repo.

[2018-06-08 01:47] ChadKillingsworth commented on #97
languageOut: 'ECMASCRIPT8' -> That's not yet a supported output language. Highest output language currently supported is ECMASCRIPT6.

[2018-06-08 01:47] #97 closed

[2018-06-08 01:48] #84 closed

[2018-06-08 01:50] #71 closed

[2018-06-08 21:14] fabiospampinato commented on #99
@ChadKillingsworth great! I'll close this as soon as there's a version of `google-closure-compiler-js` pushed to NPM that fixes this, which I don't think it's the case atm, right?

[2018-06-08 21:16] ChadKillingsworth commented on #99
Correct - but I wish to point out that you'll be switching packages. There will only be a `google-closure-compiler`.

[2018-06-09 15:36] fabiospampinato commented on #99
All right, I'll just switch to `google-closure-compiler` then, thank you.

[2018-06-09 15:36] #99 closed

[2018-06-13 19:49] ChadKillingsworth commented on #99
It was published today.

[2018-06-17 18:17] mathiasrw commented on #88
Any news on this?

[2018-06-20 19:23] ChadKillingsworth commented on #88
Sorry for the delay. The `env` flag is definitely already supported.

From reading the error message is that module resolution requires a valid source path - and it must start with a `./`, `../` or `/`. That's what the error message is telling you.

Documentation for how to pass proper paths to the compiler is at https://github.com/google/closure-compiler-npm#javascript-version-1

I recommend swit

[2018-06-20 19:23] #88 closed

[2018-06-21 20:21] ChadKillingsworth commented on #92
If you want to PR a change to the docs at https://github.com/google/closure-compiler-npm, I'll review it and get it merged.

This repo is being sunset.

[2018-06-21 20:21] #92 closed

[2018-06-21 20:23] ChadKillingsworth commented on #66
This is fixed in the main distribution. Please switch to using it insead.

[2018-06-21 20:23] #66 closed

[2018-06-21 20:28] #38 closed

[2018-06-21 20:29] ChadKillingsworth commented on #37
For proper webpack support, use the https://github.com/webpack-contrib/closure-webpack-plugin plugin

[2018-06-21 20:29] #37 closed

[2018-06-21 20:30] ChadKillingsworth commented on #36
For proper webpack support, use the https://github.com/webpack-contrib/closure-webpack-plugin plugin

[2018-06-21 20:30] #36 closed

[2018-06-21 20:31] ChadKillingsworth commented on #33
We don't have a good story for compiling NodeJS code with closure compiler currently.

[2018-06-21 20:31] #33 closed

[2018-06-21 20:31] ChadKillingsworth commented on #34
This is now supported.

[2018-06-21 20:31] #34 closed

[2018-06-21 20:32] ChadKillingsworth commented on #32
Please switch to the main distribution at https://github.com/google/closure-compiler-npm

[2018-06-21 20:32] #32 closed

[2018-06-21 20:33] ChadKillingsworth commented on #23
For large compilations, the Java version is definitely recommended.

[2018-06-21 20:33] #23 closed

[2018-06-21 20:33] ChadKillingsworth commented on #19
Dependency management for multiple systems is now supported in the main build: Please switch to the main distribution at https://github.com/google/closure-compiler-npm

[2018-06-21 20:33] #19 closed

[2018-06-21 20:35] ChadKillingsworth commented on #17
Code splitting is supported in the main distribution. Please switch to Please switch to the main distribution at https://github.com/google/closure-compiler-npm

[2018-06-21 20:35] #17 closed

[2018-06-21 20:36] ChadKillingsworth commented on #35
If this is still an issue, please refile it at https://github.com/google/closure-compiler-npm

[2018-06-21 20:36] #35 closed

[2018-06-21 20:36] #9 closed

[2018-06-21 20:37] ChadKillingsworth commented on #9
If this is still an issue, it can be posted at Please switch to the main distribution at https://github.com/google/closure-compiler

[2018-06-21 20:37] ChadKillingsworth commented on #1
Done: https://github.com/google/closure-compiler-npm

[2018-06-21 20:37] #1 closed

[2018-06-21 20:37] ChadKillingsworth commented on #4
Done

[2018-06-21 20:37] #4 closed

[2018-06-21 20:38] ChadKillingsworth commented on #25
I'd like to replace the `[ synthetic` source map references with some sort of real file path. But that issue needs addressed at https://github.com/google/closure-compiler

[2018-06-21 20:38] #25 closed

[2018-06-21 20:46] srod commented on #35
Does it means that we have to switch from the NPM package `google-closure-compiler-js` to `google-closure-compiler` ?

[2018-06-21 20:55] ChadKillingsworth commented on #35
It does. The JS version is now published there as well.

[2018-06-21 21:32] AntonioRedondo commented on #23
Is this issue fixed? What happens when you have the error with small compilation setups?

[2018-06-22 03:07] ChadKillingsworth commented on #23
Development is moving to https://github.com/google/closure-compiler-npm

If you can provide a repo case for a smaller source set, I can take a look.

[2018-06-22 03:12] nazar-pc commented on #23
I think it is not necessarily about size, there some other issue when it uses over 20 GiB of RAM and still fails to finish compiling while Java version uses orders of magnitude less memory.

[2018-06-22 10:56] ChadKillingsworth commented on #23
There very well may be - but I can't reproduce that. If you have a project or source set that demonstrates the problem, we can look.

[2018-06-25 02:33] bogusred commented on #32
This is a pretty old issue and don't remember. totally ok to just close this one out. Thanks for taking a look.

[2018-06-29 15:26] o-t-w opened #105 "--languageOut flag for CLI"
I am using NPM scripts as a build tool.

[code]

In terminal I am getting the message `Skipping pass checkConformance`.
I'm getting some weird junk at the top of the uncompiled file,

[code]

Could you please improve your docs so its obvious how to use this correctly. Thanks

[2018-06-29 18:08] ChadKillingsworth commented on #105
This is filed at https://github.com/google/closure-compiler/issues/2984

[2018-06-29 18:08] #105 closed

[2018-07-18 02:05] ChadKillingsworth commented on #89
The cli script used to support npx at https://github.com/google/closure-compiler-npm now supports the js_output_file flag.

[2018-07-18 02:05] #89 closed

[2018-07-18 02:06] ChadKillingsworth commented on #79
The trusted strings option is now set. Deployment has moved to https://github.com/google/closure-compiler-npm

[2018-07-18 02:06] #79 closed

[2018-07-18 02:06] ChadKillingsworth commented on #73
This is now supported. Deployment has moved to https://github.com/google/closure-compiler-npm

[2018-07-18 02:06] #73 closed

[2018-07-18 02:07] ChadKillingsworth commented on #39
The webpack plugin at https://github.com/webpack-contrib/closure-webpack-plugin supports this use case. The JS version now supports the needed flags.

[2018-07-18 02:07] #39 closed

[2018-07-18 22:38] leeoniya commented on #79
sorry, misunderstood. thanks.

[2018-07-25 02:54] sunfeng90 commented on #23
When I run `webpack-dev-server --inline --progress --config build/webpack.dev.conf.js`, but got `lcsdeMac-mini:jd-management-front lcs$ npm run dev

 91% additional asset processing

#
# Fatal error in , line 0
# API fatal error handler returned after process out of memory
#
#
#
#FailureMessage Object: 0x70000fd71980Illegal instruction: 4`

[2018-08-03 12:54] amarcu5 opened #106 "Feature request: support strictCheckTypes"
Now that `--newTypeInf` is depreciated I think it would be a good time to support `strictCheckTypes` or better yet `--jscompError` flags

[2018-08-03 13:17] #106 closed

[2018-08-03 14:13] leeoniya commented on #106
this probably belongs in a prominent heading at the top of the main readme

[2018-08-03 16:15] ChadKillingsworth commented on #106
Yeah I agree. cc @samthor

[2018-08-11 12:33] ChadKillingsworth commented on #46
I realize this is very old, but the JS version now can just take a file path for the `externs` flag and will load the externs from the filesystem (when running in NodeJS).

[2018-08-11 12:33] #46 closed

[2018-08-16 01:26] philipwalton commented on #73
@ChadKillingsworth I see you marked this as supported and tagged it with `fixed-in-next-release`. Do you know when that release is shipping?

I looks like several versions of the main closure compiler project have been released since.

[2018-08-16 11:52] ChadKillingsworth commented on #73
The release has shipped - but it has moved to the main npm repo. The JS version is now distributed there. This repo no longer is active.

[2018-08-16 16:52] philipwalton commented on #73
Ahh, I see. It'd be nice if this repo's README were updated to explain that it's no longer being updated (currently that's not at all clear).

You might also consider adding a deprecation warning when users npm install it.

/cc @samthor

[2019-05-16 03:23] LEggcookies opened #107 "google-closure-compiler-js:command not found"
Can't you install it from the command line now?
How to use google-closure-compiler-js on the new google-closure-compiler?

[2019-05-17 15:38] brad4d commented on #107
The GitHub project you're looking for is
https://github.com/google/closure-compiler-npm

It defines all of the NPM packages for closure-compiler, including the one that is compiled to JS.
I believe you'll be able to get the answers you're looking for there.
If you don't find them, please file an issue on that project.
Thanks.

[2019-05-17 15:38] #107 closed, assigned to nobody